
body {
    font-family: 'Times New Roman', Times, serif;
}
.title {
    color: red;
}
.title_text1 {
    color: white;
    background-color: blue;
    width: 100px;
    margin-bottom: 100px;
}
.title_text2 {
    color: red;
}
h2 {
    color: white;
    background-color: green;
}
h2.sub_title {
    padding: 40px;
}
.paragraph {
  padding-left: 100px;  
}
.text_list {
font-size: 30px;
line-height: 1em;
}
.list_border {
    border: 1px solid black;
}

